.bk-search {
  inline-size: 100%;
  box-sizing: border-box;
  height: 32px;
  background: transparent;
  border-right: 4px solid var(--themeBaseColor);
  border-left: 4px solid var(--themeBaseColor);
  border-top: none;
  border-bottom: none;
  color: var(--themeBaseColor);
  padding: 0 5px;
  outline: none;
  margin-block-end: 10px;
}
